@media only screen and (max-width: 900px) {
  body {
    max-width: 80%;
  }
  .container {
    flex: 0 1 100vw;
  }
  .nav-bar {
    position: fixed;
    margin-left: 0px;
    justify-content: left;
    top: -2vh;
    left: -10vw;
    width: 100vw;
    background-color: #000;
  }
  /*.nav-list {
    background-color: #000;
    background-attachment: scroll;
  }*/
  h1 {
    padding-top: 2em;
  }
  p,
  a,
  li {
    font-size: 1em;
    line-height: 1em;
  }
  img {
    max-width: 70%;
    max-height: 70%;
  }
}
@media only screen and (min-width: 901px) {
  p,
  a,
  li {
    font-size: 1.5em;
    line-height: 1.6em;
  }
  body {
    margin: 0 auto;
    max-width: 50%;
  }
  .container {
    flex: 0 1 50vw;
    justify-content: space-between;
    padding-left: 1vw;
  }
  .nav-bar {
    position: fixed;
    background-color: black;
    justify-content: top;
    top: 0px;
    left: 0px;
    width: 24vw;
    height: 100%;
  }
  img {
    max-width: 50%;
    max-height: 50%;
  }
  a:hover {
    color: black;
    background-color: #9f9;
  }
}
img {
  border-radius: 2em;
}
body {
  background-color: black;
  color: #9f9;
  font-family: monospace;
}
.nav-list {
  display: inline-block;
}
h1 {
  font-size: 3.2em;
}
.secondary-header {
  font-size: 3em;
  padding-bottom: 1em;
  padding-top: 5em;
}
p,
a,
li {
  font-size: 1.5em;
  line-height: 1.6em;
}
li {
  list-style-type: none;
}
a {
  color: #9f9;
}
a:active {
  color: #fff;
}
input {
  font-family: monospace;
  color: #9f9;
  background-color: #000;
  outline: none;
  font-size: 1.5em;
}
